*{
    margin:0;
    padding:0;
    text-decoration:none;
    list-style:none;
    outline:none;
    border:none;
    direction:rtl;
    box-sizing: border-box;
  }
.services-content{
  width: 100rem;
  height: 100vh;
}

.services-components{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-bottom: 8rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.Servicescompo1, .Servicescompo2{
  display: flex;
  justify-content: center;
}

.services-box{
  width: 25rem;
  height: 35vh;
  margin-top: 1rem;
  margin-left: 2rem;
  padding: 2rem;
  border: 1px solid #ebebeb;
  transition: transform 0.3s ease;
}

.services-box:hover{
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}

.services-box__content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.services-box__content-icon{
  font-size: 1.5rem;
  background-color: #ffc451;
  padding: 1rem;
  align-self: center;
  border-radius: 5px;
}

.Options-left-desc__title{
  font-size: 2rem;
  align-self: center;
  margin-top: 1rem;
  line-height: 4rem;
}

.Options-left-desc__title:hover{
  color: #ffc451;
}

.Options-left-desc__paragraph{
  font-family: "irsans";
  font-size: 1rem;
  font-weight: bold;
  color: #444444;
  direction: rtl;
  line-height: 2rem;
}