*{
  margin:0;
  padding:0;
  text-decoration:none;
  list-style:none;
  outline:none;
  border:none;
  direction:rtl;
  box-sizing: border-box;
}

.Options{
  width: 100%;
  height: 70vh;
}

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20rem;
}

.Options-right img{
  width: 50rem;
  height:25rem;
  padding-right: 8rem;
}

.Options-left{
  text-align: right;
  display: flex;
  flex-direction: column;
}

.Options-left-desc{
  display: flex;
  justify-content: start;
  align-items: center;
  padding-right: 3rem;

}

.Options-left-desc__title{
  font-size: 1.5rem !important;
  font-weight: bold;
  color: #212529;
  font-family:"irsans", irsans, sans-serif;
}

.Options-left-desc__parag{
  color: #848484;
  font-size: 1rem;
  line-height: 1px;
  font-family:"irsans", irsans, sans-serif;
  text-align: justify;
  font-weight: bold;
}

 .Options-left-desc__link{
    color: #ffc451;
    font-size: 2.5rem;
    padding-left: 2rem;
}